{% extends 'prensend/base.html' %}
{% load static %}

    {% block head_styles %}
        <title>친구목록</title>
        <link rel="stylesheet" href="{% static 'prensend/css/friends.css' %}?after">

        <style>
            .modal {
                position: absolute; z-index: 2;
                top: 0;
                left: 0;
        
                width: 100%;
                height: 100%;
        
                display: none;
        
                background-color: rgba(0, 0, 0, 0.4);
            }
        
            .modal.show {
                display: block;
            }

            .modal2 {
                position: absolute; z-index: 2;
                top: 0;
                left: 0;
        
                width: 100%;
                height: 100%;
        
                display: none;
        
                background-color: rgba(0, 0, 0, 0.4);
            }
        
            .modal2.show {
                display: block;
            }

            .modal3 {
                position: absolute; z-index: 2;
                top: 0;
                left: 0;
        
                width: 100%;
                height: 100%;
        
                display: none;
        
                background-color: rgba(0, 0, 0, 0.4);
            }
        
            .modal3.show {
                display: block;
            }

            .modal4 {
                position: absolute; z-index: 2;
                top: 0;
                left: 0;
        
                width: 100%;
                height: 100%;
        
                display: none;
        
                background-color: rgba(0, 0, 0, 0.4);
            }
        
            .modal4.show {
                display: block;
            }
        
            .modal_body {
                position: absolute;
                top: 50%;
                left: 50%;
                
                width: 600px;
                height: 400px;
        
                padding: 40px;
        
                text-align: center;
                vertical-align: middle;
                background-color: rgb(255, 255, 255);
                border-radius: 10px;
                box-shadow: 0 2px 3px 0 rgba(34, 36, 38, 0.15);
        
                transform: translateX(-50%) translateY(-50%);
            } 
            body {
                background-color: #CAE9E0;
            }
            .t1 {
                font-size: 40px;
                text-align: center;
                margin-bottom: 70px;
            }
            
            .friend_box {
                display: flex;
                align-items: center;
                margin: 30px auto;
                background-color: rgba(255, 255, 255, 0.7);
                width: 870px;
                height: 60px;
                border-radius: 30px;
                padding: 15px;
            }
            
            .friend_image {
                margin-left: 20px;
                display: inline-block;
                width: 60px;
                height: 60px;
                border-radius: 50px;
                overflow: hidden;
            }
            .friend_name {
                display: inline-block;
            }
            .friend_button {
                display: inline-block;
                font-weight: bold;
            }
            
            .image {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
            .name {
                margin-left: 30px;
                font-size: 25px;
            }
            .button {
                margin-left: 540px;
                border-radius: 20px;
                background-color: rgb(30, 30, 58);
                color: white;
                font-size: 18px;
                padding-left: 15px;
                padding-right: 15px;
                padding-top: 10px;
                padding-bottom: 10px;
                cursor: pointer; 
                transition:all 0.9s, color 0.3;
            }
            .custom-btn {
                margin-left: 260px;
                width: 115px;
                height: 40px;
                color: #fff;
                border-radius: 10px;
                padding: 10px 25px;
                font-family: 'Lato', sans-serif;
                font-weight: bold;
                background: transparent;
                cursor: pointer;
                transition: all 0.3s ease;
                position: relative;
                display: inline-block;
                box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
                7px 7px 20px 0px rgba(0,0,0,.1),
                4px 4px 5px 0px rgba(0,0,0,.1);
                outline: none;
            }
            .custom-btn2 {
                margin-left: 0px;
                width: 115px;
                height: 40px;
                color: #fff;
                border-radius: 10px;
                padding: 10px 25px;
                font-family: 'Lato', sans-serif;
                font-weight: bold;
                background: transparent;
                cursor: pointer;
                transition: all 0.3s ease;
                position: relative;
                display: inline-block;
                box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
                7px 7px 20px 0px rgba(0,0,0,.1),
                4px 4px 5px 0px rgba(0,0,0,.1);
                outline: none;
            }
            .btn-13 {
                background-color: #f192f0;
                background-image: linear-gradient(315deg, #f192f0 0%, #A28DCE 74%);
                border: none;
                z-index: 1;
            }
            .btn-13:after {
                position: absolute;
                content: "";
                width: 100%;
                height: 0;
                bottom: 0;
                left: 0;
                z-index: -1;
                border-radius: 5px;
                background-color: #D4f2f0;
                background-image: linear-gradient(315deg, #d4f2f0 0%, #e989cf 74%);
                box-shadow:
                -7px -7px 20px 0px #fff9,
                -4px -4px 5px 0px #fff9,
                7px 7px 20px 0px #0002,
                4px 4px 5px 0px #0001;
                transition: all 0.3s ease;
            }
                .btn-13:hover {
                color: #fff;
            }
            .btn-13:hover:after {
                top: 0;
                height: 100%;
            }
                .btn-13:active {
                top: 2px;
            }

            
            label img {
                height: 80px;
                width: 80px;
                transition-duration: 0.2s;
                transform-origin: 50% 50%;
            }
            
            .freind_box2 {
                display: flex;
                align-items: center;
                margin: 30px auto;
                background-color: rgba(255, 255, 255, 0.5);
                width: 700px;
                height: 60px;
                padding: 15px;
                border-radius: 10px;
                border-left-style: solid;
                border-left-width: 15px;
                border-right-style: solid;
                border-right-width: 2px;
                border-left-color: #A28DCE;
                border-right-color: #A28DCE;
            }
            
            hr.divider {
                padding: 20px;
                border: none;
                border-top: 5px double gray;
                border-bottom: 5px double gray;
                color: black;
                text-align: center;
                margin-top: 0px;
                margin-bottom: 30px;
                margin-right: 350px;
                margin-left: 350px;
            }
                
            hr.divider:after {
                content: "친구목록";
                display: inline-block;
                position: relative;
                top: -0.1em;
                font-size: 1.75em;
                padding: 0 0.5em;
                font-weight: normal;
            }    
            .custom-btn3 {
                margin: 0px auto;
                width: 115px;
                height: 40px;
                color: #fff;
                border-radius: 10px;
                padding: 10px 25px;
                font-family: 'Lato', sans-serif;
                font-weight: bold;
                background: transparent;
                cursor: pointer;
                transition: all 0.3s ease;
                position: relative;
                display: inline-block;
                box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
                7px 7px 20px 0px rgba(0,0,0,.1),
                4px 4px 5px 0px rgba(0,0,0,.1);
                outline: none;
            }
            .btn-14 {
                background-color: #d43f8d;
                background-image: linear-gradient(315deg, #d43f8d 0%, #0250c5 74%);
                border: none;
                z-index: 1;
            }
            .btn-14:after {
                position: absolute;
                content: "";
                width: 100%;
                height: 0;
                bottom: 0;
                left: 0;
                z-index: -1;
                border-radius: 5px;
                background-color: #D4f2f0;
                background-image: linear-gradient(315deg, #d4f2f0 0%, #e989cf 74%);
                box-shadow:
                -7px -7px 20px 0px #fff9,
                -4px -4px 5px 0px #fff9,
                7px 7px 20px 0px #0002,
                4px 4px 5px 0px #0001;
                transition: all 0.3s ease;
            }
                .btn-14:hover {
                color: #fff;
            }
            .btn-14:hover:after {
                top: 0;
                height: 100%;
            }
                .btn-14:active {
                top: 2px;
            }    
            /*인풋박스 스타일*/
        @keyframes gradient { 
        0%{background-position:0 0}
        100%{background-position:100% 0}
        }

        input { 
            border-style: none; 
            background: transparent; 
            outline: none; 
            display: inline-block;
        }

        .webflow-style-input {
            position: relative;
            display: flex;
            flex-direction: row;
            width: 100%;
            max-width: 530px;
            margin: 0;
            border-radius: 5px;
            padding: 1px 0px 1px 0px;
            background: rgba(57, 63, 84, 0.8);
            
            &:after {
                content: "";
                position: absolute;
                left: 0px;
                right: 0px;
                bottom: 0px;
                z-index: 999;
                height: 2px;
                border-bottom-left-radius: 5px;
                border-bottom-right-radius: 5px;
                background-position: 0% 0%;
                background: linear-gradient(to right, #B294FF, #57E6E6, #FEFFB8, #57E6E6, #B294FF, #57E6E6);
                background-size: 500% auto;
                animation: gradient 3s linear infinite;
            }
        }

        .webflow-style-input input {
            flex-grow: 1;
            color: #BFD2FF;
            font-size: 1rem;
            line-height: 2.4rem;
            vertical-align: middle;
            &::-webkit-input-placeholder {
                color: #7881A1;
            }
        }

        .webflow-style-input button {
            color:  #7881A1;
            font-size: 1rem;
            line-height: 2.4rem;
            vertical-align: middle;
            transition: color .25s;
            &:hover {
                color: #BFD2FF;
            }
        }
        .modalheader{
            text-align: left;
            margin-top: 10px;
            padding: 10px;
            border: 2px solid gray;
            border-radius: 10px;
            line-height: 160%;
        }
        </style>

        <script>
            function stage1() {
                let answer = document.getElementById('answer').value;
                if(answer == ""){
                    alert('답을 기입해 주십시오');
                }
                else if(answer == "0112"){
                    alert('정답입니다');
                }
                else{
                    document.getElementById('answer').value = "";
                    alert('정답이 아닙니다');
                }
            }
    
            function stage2() {
                let answer = document.getElementById('answer2').value;
                if(answer == ""){
                    alert('답을 기입해 주십시오');
                }
                else if(answer == "설인노34"){
                    alert('정답입니다');
                }
                else{
                    document.getElementById('answer2').value = "";
                    alert('정답이 아닙니다');
                }
            }
    
            function stage3() {
                let answer = document.getElementById('answer3').value;
                if(answer == ""){
                    alert('답을 기입해 주십시오');
                }
                else if(answer == "5359"){
                    alert('정답입니다');
                }
                else{
                    document.getElementById('answer3').value = "";
                    alert('정답이 아닙니다');
                }
            }
    
            function stage4() {
                let answer = document.getElementById('answer4').value;
                if(answer == ""){
                    alert('답을 기입해 주십시오');
                }
                else if(answer == "0510"){
                    alert('정답입니다');
                }
                else{
                    document.getElementById('answer4').value = "";
                    alert('정답이 아닙니다');
                }
            }
        </script>
    {% endblock %}

    {% block main %}
        <br>
        <br>
        <br><br><br>
        <div class="green-bg" style="margin-bottom: 60px;">
            <hr class="divider">
        </div>

        <!--모달1-->
        <div class="modal">
            <div class="modal_body">
                <div style="text-align: center;">
                    <form action="{% url 'prensend:quizinfo_index_game' %}" method="post">{% csrf_token %}
            
                    {% if gameint == 3 %}           

                        

                        <div class="stage3">
                            <div style="text-align: left;">
                                <h2>Quest. </h2>
                                <div class="modalheader">
                                    비밀번호 네 자리에 관한 힌트를 얻기 위해서는 맵을 돌아다녀보세요!<br>
                                    힌트를 읽고 문제를 푼 후 비밀번호를 기억해주세요!
                                </div>
                                <p style="font-weight: bold">게임에서 얻은 네자리 수를 적어주세요.</p> <!--5359-->
                            </div>
            
                            <span style="font-size: 2.3em;">🎁</span> &nbsp;
                            <div class="webflow-style-input" style="display: inline-block;"> 
                                <input class="" type="text" placeholder="" id="answer3"></input>
                            </div>
                            <br><br><br><br>
                            <input type="button" class="custom-btn2 btn-13" style="width: 280px; height: 40px;" onclick="stage3()" value="정답 확인">&nbsp;&nbsp;
                            <button class="custom-btn2 btn-13" style="width: 280px;" type="submit" id="g_btn">
                                맞춤형 선물 추천
                            </button>
                        </div>
            
                    {% elif gameint == 1 %}

            
                    
                    
                    <div class="stage1">
                        <div style="text-align: left;">
                            <h2>Quest. </h2>
                            <div class="modalheader">
                                힌트를 확인하기 위해서는 가구 근처에서 'X'키를 누르고,<br>대화창을 넘기기 위해서는 'Z'키를 눌러야해요!
                                <br>
                                모든 힌트를 기억하고 있어야 돌아가서 단서를 획득할 수 있겠죠? 힌트는 총 4개입니다.
                            </div>
                            <p style="font-weight: bold">게임에서 얻은 네자리 수를 적어주세요.</p> <!--0112-->
                        </div>
            
                        <span style="font-size: 2.3em;">🎁</span>
                        &nbsp;
                        <div class="webflow-style-input" style="display: inline-block;"> 
                            <input class="" type="text" placeholder="" id="answer"></input>
                        </div>
                        <br><br><br><br>
                        <input type="button" class="custom-btn2 btn-13" style="width: 280px; height: 40px;" onclick="stage1()" value="정답 확인">&nbsp;&nbsp;
                        <button class="custom-btn2 btn-13" style="width: 280px;" type="submit" id="g_btn">
                            맞춤형 선물 추천
                        </button>
                    </div>
            
                    {% else %}
                    
                    <div class="stage2">
                        <div style="text-align: left;">
                            <h2>Quest. </h2>
                            <div class="modalheader">
                                힌트를 확인하기 위해서는 동물 근처에서 'X'키를 누르고,<br>대화창을 넘기기 위해서는 'Z'키를 눌러야해요!
                                <br>
                                모든 힌트를 기억하고 있어야 돌아가서 단서를 획득할 수 있겠죠? 힌트는 총 4개입니다.
                            </div>
                            <p style="font-weight: bold">
                                동물 친구들이 내는 퀴즈를 맞춰주세요.
                                <br><br>
                                연개구리: 전[ ], 고양이: 개[ ]지도, 청개구리: [ ]래, 여우: 숫자 2개 <!--설인노34-->
                            </p>
                        </div>
            
                        <span style="font-size: 2.3em;">🎁</span>
                        &nbsp;
                        <div class="webflow-style-input" style="display: inline-block;"> 
                            <input class="" type="text" placeholder="" id="answer2"></input>
                        </div>
                        &nbsp;

                        <br><br><br><br>
                        <input type="button" class="custom-btn2 btn-13" style="width: 280px; height: 40px;" onclick="stage2()" value="정답 확인">&nbsp;&nbsp;
                        <button class="custom-btn2 btn-13" style="width: 280px;" type="submit" id="g_btn">
                            맞춤형 선물 추천
                        </button>
                    </div>
            
                    {% endif %}
                        
                    </form>
                </div>
                <br><br><br><br>
            </div>
        </div>


        <!--모달2-->
        <div class="modal2">
            <div class="modal_body">
                <div style="text-align: center;">
                    <form action="{% url 'prensend:quizinfo_index_game2' %}" method="post">{% csrf_token %}
            
                    {% if gameint == 3 %}           

                        

                        <div class="stage3">
                            <div style="text-align: left;">
                                <h2>Quest. </h2>
                                <div class="modalheader">
                                    비밀번호 네 자리에 관한 힌트를 얻기 위해서는 맵을 돌아다녀보세요!<br>
                                    힌트를 읽고 문제를 푼 후 비밀번호를 기억해주세요!
                                </div>
                                <p style="font-weight: bold">게임에서 얻은 네자리 수를 적어주세요.</p> <!--5359-->
                            </div>
            
                            <span style="font-size: 2.3em;">🎁</span> &nbsp;
                            <div class="webflow-style-input" style="display: inline-block;"> 
                                <input class="" type="text" placeholder="" id="answer3"></input>
                            </div>
                            <br><br><br><br>
                            <input type="button" class="custom-btn2 btn-13" style="width: 280px; height: 40px;" onclick="stage3()" value="정답 확인">&nbsp;&nbsp;
                            <button class="custom-btn2 btn-13" style="width: 280px;" type="submit" id="g_btn">
                                맞춤형 선물 추천
                            </button>
                        </div>
            
                    {% elif gameint == 1 %}

                    <div class="stage1">
                        <div style="text-align: left;">
                            <h2>Quest. </h2>
                            <div class="modalheader">
                                힌트를 확인하기 위해서는 가구 근처에서 'X'키를 누르고,<br>대화창을 넘기기 위해서는 'Z'키를 눌러야해요!
                                <br>
                                모든 힌트를 기억하고 있어야 돌아가서 단서를 획득할 수 있겠죠? 힌트는 총 4개입니다.
                            </div>
                            <p style="font-weight: bold">게임에서 얻은 네자리 수를 적어주세요.</p> <!--0112-->
                        </div>
            
                        <span style="font-size: 2.3em;">🎁</span>
                        &nbsp;
                        <div class="webflow-style-input" style="display: inline-block;"> 
                            <input class="" type="text" placeholder="" id="answer"></input>
                        </div>
                        <br><br><br><br>
                        <input type="button" class="custom-btn2 btn-13" style="width: 280px; height: 40px;" onclick="stage1()" value="정답 확인">&nbsp;&nbsp;
                        <button class="custom-btn2 btn-13" style="width: 280px;" type="submit" id="g_btn">
                            맞춤형 선물 추천
                        </button>
                    </div>
            
                    {% else %}
                    
                    <div class="stage2">
                        <div style="text-align: left;">
                            <h2>Quest. </h2>
                            <div class="modalheader">
                                힌트를 확인하기 위해서는 동물 근처에서 'X'키를 누르고,<br>대화창을 넘기기 위해서는 'Z'키를 눌러야해요!
                                <br>
                                모든 힌트를 기억하고 있어야 돌아가서 단서를 획득할 수 있겠죠? 힌트는 총 4개입니다.
                            </div>
                            <p style="font-weight: bold">
                                동물 친구들이 내는 퀴즈를 맞춰주세요.
                                <br><br>
                                연개구리: 전[ ], 고양이: 개[ ]지도, 청개구리: [ ]래, 여우: 숫자 2개 <!--설인노34-->
                            </p>
                        </div>
            
                        <span style="font-size: 2.3em;">🎁</span>
                        &nbsp;
                        <div class="webflow-style-input" style="display: inline-block;"> 
                            <input class="" type="text" placeholder="" id="answer2"></input>
                        </div>
                        &nbsp;

                        <br><br><br><br>
                        <input type="button" class="custom-btn2 btn-13" style="width: 280px; height: 40px;" onclick="stage2()" value="정답 확인">&nbsp;&nbsp;
                        <button class="custom-btn2 btn-13" style="width: 280px;" type="submit" id="g_btn">
                            맞춤형 선물 추천
                        </button>
                    </div>
            
                    {% endif %}
                        
                    </form>
                </div>
                <br><br><br><br>
            </div>
        </div>

        <!--모달3-->
        <div class="modal3">
            <div class="modal_body">
                <div style="text-align: center;">
                    <form action="{% url 'prensend:quizinfo_index_game3' %}" method="post">{% csrf_token %}
            
                    {% if gameint == 3 %}           

                        

                        <div class="stage3">
                            <div style="text-align: left;">
                                <h2>Quest. </h2>
                                <div class="modalheader">
                                    비밀번호 네 자리에 관한 힌트를 얻기 위해서는 맵을 돌아다녀보세요!<br>
                                    힌트를 읽고 문제를 푼 후 비밀번호를 기억해주세요!
                                </div>
                                <p style="font-weight: bold">게임에서 얻은 네자리 수를 적어주세요.</p> <!--5359-->
                            </div>
            
                            <span style="font-size: 2.3em;">🎁</span> &nbsp;
                            <div class="webflow-style-input" style="display: inline-block;"> 
                                <input class="" type="text" placeholder="" id="answer3"></input>
                            </div>
                            <br><br><br><br>
                            <input type="button" class="custom-btn2 btn-13" style="width: 280px; height: 40px;" onclick="stage3()" value="정답 확인">&nbsp;&nbsp;
                            <button class="custom-btn2 btn-13" style="width: 280px;" type="submit" id="g_btn">
                                맞춤형 선물 추천
                            </button>
                        </div>
            
                    {% elif gameint == 1 %}

            
                    
                    
                    <div class="stage1">
                        <div style="text-align: left;">
                            <h2>Quest. </h2>
                            <div class="modalheader">
                                힌트를 확인하기 위해서는 가구 근처에서 'X'키를 누르고,<br>대화창을 넘기기 위해서는 'Z'키를 눌러야해요!
                                <br>
                                모든 힌트를 기억하고 있어야 돌아가서 단서를 획득할 수 있겠죠? 힌트는 총 4개입니다.
                            </div>
                            <p style="font-weight: bold">게임에서 얻은 네자리 수를 적어주세요.</p> <!--0112-->
                        </div>
            
                        <span style="font-size: 2.3em;">🎁</span>
                        &nbsp;
                        <div class="webflow-style-input" style="display: inline-block;"> 
                            <input class="" type="text" placeholder="" id="answer"></input>
                        </div>
                        <br><br><br><br>
                        <input type="button" class="custom-btn2 btn-13" style="width: 280px; height: 40px;" onclick="stage1()" value="정답 확인">&nbsp;&nbsp;
                        <button class="custom-btn2 btn-13" style="width: 280px;" type="submit" id="g_btn">
                            맞춤형 선물 추천
                        </button>
                    </div>
            
                    {% else %}
                    
                    <div class="stage2">
                        <div style="text-align: left;">
                            <h2>Quest. </h2>
                            <div class="modalheader">
                                힌트를 확인하기 위해서는 동물 근처에서 'X'키를 누르고,<br>대화창을 넘기기 위해서는 'Z'키를 눌러야해요!
                                <br>
                                모든 힌트를 기억하고 있어야 돌아가서 단서를 획득할 수 있겠죠? 힌트는 총 4개입니다.
                            </div>
                            <p style="font-weight: bold">
                                동물 친구들이 내는 퀴즈를 맞춰주세요.
                                <br><br>
                                연개구리: 전[ ], 고양이: 개[ ]지도, 청개구리: [ ]래, 여우: 숫자 2개 <!--설인노34-->
                            </p>
                        </div>
            
                        <span style="font-size: 2.3em;">🎁</span>
                        &nbsp;
                        <div class="webflow-style-input" style="display: inline-block;"> 
                            <input class="" type="text" placeholder="" id="answer2"></input>
                        </div>
                        &nbsp;

                        <br><br><br><br>
                        <input type="button" class="custom-btn2 btn-13" style="width: 280px; height: 40px;" onclick="stage2()" value="정답 확인">&nbsp;&nbsp;
                        <button class="custom-btn2 btn-13" style="width: 280px;" type="submit" id="g_btn">
                            맞춤형 선물 추천
                        </button>
                    </div>
            
                    {% endif %}
                        
                    </form>
                </div>
                <br><br><br><br>
            </div>
        </div>

        <!--모달4-->
        <div class="modal4">
            <div class="modal_body">
                <div style="text-align: center;">
                    <form action="{% url 'prensend:quizinfo_index_game4' %}" method="post">{% csrf_token %}
            
                    {% if gameint == 3 %}           

                        

                        <div class="stage3">
                            <div style="text-align: left;">
                                <h2>Quest. </h2>
                                <div class="modalheader">
                                    비밀번호 네 자리에 관한 힌트를 얻기 위해서는 맵을 돌아다녀보세요!<br>
                                    힌트를 읽고 문제를 푼 후 비밀번호를 기억해주세요!
                                </div>
                                <p style="font-weight: bold">게임에서 얻은 네자리 수를 적어주세요.</p> <!--5359-->
                            </div>
            
                            <span style="font-size: 2.3em;">🎁</span> &nbsp;
                            <div class="webflow-style-input" style="display: inline-block;"> 
                                <input class="" type="text" placeholder="" id="answer3"></input>
                            </div>
                            <br><br><br><br>
                            <input type="button" class="custom-btn2 btn-13" style="width: 280px; height: 40px;" onclick="stage3()" value="정답 확인">&nbsp;&nbsp;
                            <button class="custom-btn2 btn-13" style="width: 280px;" type="submit" id="g_btn">
                                맞춤형 선물 추천
                            </button>
                        </div>
            
                    {% elif gameint == 1 %}

            
                    
                    
                    <div class="stage1">
                        <div style="text-align: left;">
                            <h2>Quest. </h2>
                            <div class="modalheader">
                                힌트를 확인하기 위해서는 가구 근처에서 'X'키를 누르고,<br>대화창을 넘기기 위해서는 'Z'키를 눌러야해요!
                                <br>
                                모든 힌트를 기억하고 있어야 돌아가서 단서를 획득할 수 있겠죠? 힌트는 총 4개입니다.
                            </div>
                            <p style="font-weight: bold">게임에서 얻은 네자리 수를 적어주세요.</p> <!--0112-->
                        </div>
            
                        <span style="font-size: 2.3em;">🎁</span>
                        &nbsp;
                        <div class="webflow-style-input" style="display: inline-block;"> 
                            <input class="" type="text" placeholder="" id="answer"></input>
                        </div>
                        <br><br><br><br>
                        <input type="button" class="custom-btn2 btn-13" style="width: 280px; height: 40px;" onclick="stage1()" value="정답 확인">&nbsp;&nbsp;
                        <button class="custom-btn2 btn-13" style="width: 280px;" type="submit" id="g_btn">
                            맞춤형 선물 추천
                        </button>
                    </div>
            
                    {% else %}
                    
                    <div class="stage2">
                        <div style="text-align: left;">
                            <h2>Quest. </h2>
                            <div class="modalheader">
                                힌트를 확인하기 위해서는 동물 근처에서 'X'키를 누르고,<br>대화창을 넘기기 위해서는 'Z'키를 눌러야해요!
                                <br>
                                모든 힌트를 기억하고 있어야 돌아가서 단서를 획득할 수 있겠죠? 힌트는 총 4개입니다.
                            </div>
                            <p style="font-weight: bold">
                                동물 친구들이 내는 퀴즈를 맞춰주세요.
                                <br><br>
                                연개구리: 전[ ], 고양이: 개[ ]지도, 청개구리: [ ]래, 여우: 숫자 2개 <!--설인노34-->
                            </p>
                        </div>
            
                        <span style="font-size: 2.3em;">🎁</span>
                        &nbsp;
                        <div class="webflow-style-input" style="display: inline-block;"> 
                            <input class="" type="text" placeholder="" id="answer2"></input>
                        </div>
                        &nbsp;

                        <br><br><br><br>
                        <input type="button" class="custom-btn2 btn-13" style="width: 280px; height: 40px;" onclick="stage2()" value="정답 확인">&nbsp;&nbsp;
                        <button class="custom-btn2 btn-13" style="width: 280px;" type="submit" id="g_btn">
                            맞춤형 선물 추천
                        </button>
                    </div>
            
                    {% endif %}
                        
                    </form>
                </div>
                <br><br><br><br>
            </div>
        </div>



        <!--친구목록-->
        <div class="freind_box2">
            <div class="friend_image">
                <img class="image" src="{% static 'prensend/images/프로필1.png' %}" alt="친구프로필1">
            </div>
            <div class="friend_name">
                <p class="name">임예진</p>
            </div>
            <div class="friend_button">
                <button class="custom-btn btn-13" type="button" onclick="window.open('https://frensend{{gameint1}}.itch.io/stage-{{gameint1}}')">
                    단서 게임
                </button>
                <button class="btn-open-popup1 custom-btn3 btn-14" style="margin-left: 5px;">문제/결과</button>
            </div>
        </div>
        <div class="freind_box2">
            <div class="friend_image">
                <img class="image" src="{% static 'prensend/images/프로필1.png' %}" alt="친구프로필1">
            </div>
            <div class="friend_name">
                <p class="name">김지현</p>
            </div>
            <div class="friend_button">
                <button class="custom-btn btn-13" type="button" onclick="window.open('https://frensend{{gameint2}}.itch.io/stage-{{gameint2}}')">
                    단서 게임
                </button>
                <button class="btn-open-popup2 custom-btn3 btn-14" style="margin-left: 5px;">문제/결과</button>
            </div>
            
        </div>
        <div class="freind_box2">
            <div class="friend_image">
                <img class="image" src="{% static 'prensend/images/프로필1.png' %}" alt="친구프로필1">
            </div>
            <div class="friend_name">
                <p class="name">이수민</p>
            </div>
            <div class="friend_button">
                <button class="custom-btn btn-13" type="button" onclick="window.open('https://frensend{{gameint3}}.itch.io/stage-{{gameint3}}')">
                    단서 게임
                </button>
                <button class="btn-open-popup3 custom-btn3 btn-14" style="margin-left: 5px;">문제/결과</button>
            </div>
        </div>
        <div class="freind_box2">
            <div class="friend_image">
                <img class="image" src="{% static 'prensend/images/프로필1.png' %}" alt="친구프로필1">
            </div>
            <div class="friend_name">
                <p class="name">조수인</p>
            </div>
            <div class="friend_button">
                <button class="custom-btn btn-13" type="button" onclick="window.open('https://frensend{{gameint4}}.itch.io/stage-{{gameint4}}')">
                    단서 게임
                </button>
                <button class="btn-open-popup4 custom-btn3 btn-14" style="margin-left: 5px;">문제/결과</button>
            </div>
        </div>
        <div class="friend_button" style="justify-content: center; margin-left: 40%;">
            <button class="custom-btn2 btn-13" type="button">
                친구 추가
            </button>
            <button class="custom-btn2 btn-13" type="button" style="margin-left: 30px;">
                친구 삭제
            </button>
        </div>
        <br><br><br><br><br><br>


        <script>
            const body = document.querySelector('body');
            const modal = document.querySelector('.modal');
            const modal2 = document.querySelector('.modal2');
            const modal3 = document.querySelector('.modal3');
            const modal4 = document.querySelector('.modal4');
            const btnOpenPopup1 = document.querySelector('.btn-open-popup1');
            const btnOpenPopup2 = document.querySelector('.btn-open-popup2');
            const btnOpenPopup3 = document.querySelector('.btn-open-popup3');
            const btnOpenPopup4 = document.querySelector('.btn-open-popup4');
      
            btnOpenPopup1.addEventListener('click', () => {
              modal.classList.toggle('show');
      
              if (modal.classList.contains('show')) {
                body.style.overflow = 'hidden';
              }
            });

            btnOpenPopup2.addEventListener('click', () => {
                modal2.classList.toggle('show');
        
                if (modal2.classList.contains('show')) {
                  body.style.overflow = 'hidden';
                }
              });

              btnOpenPopup3.addEventListener('click', () => {
                modal3.classList.toggle('show');
        
                if (modal3.classList.contains('show')) {
                  body.style.overflow = 'hidden';
                }
              });
              btnOpenPopup4.addEventListener('click', () => {
                modal4.classList.toggle('show');
        
                if (modal4.classList.contains('show')) {
                  body.style.overflow = 'hidden';
                }
              });
      
            modal.addEventListener('click', (event) => {
              if (event.target === modal) {
                modal.classList.toggle('show');
      
                if (!modal.classList.contains('show')) {
                  body.style.overflow = 'auto';
                }
              }
            });

            modal2.addEventListener('click', (event) => {
                if (event.target === modal2) {
                  modal2.classList.toggle('show');
        
                  if (!modal2.classList.contains('show')) {
                    body.style.overflow = 'auto';
                  }
                }
              });
            
              modal3.addEventListener('click', (event) => {
                if (event.target === modal3) {
                  modal3.classList.toggle('show');
        
                  if (!modal3.classList.contains('show')) {
                    body.style.overflow = 'auto';
                  }
                }
              });

              modal4.addEventListener('click', (event) => {
                if (event.target === modal4) {
                  modal4.classList.toggle('show');
        
                  if (!modal4.classList.contains('show')) {
                    body.style.overflow = 'auto';
                  }
                }
              });

            
          </script>
    {% endblock %}
