{% extends 'prensend/base.html' %}
{% load static %}

    {% block head_styles %}
    <script type="text/javascript" src="http://webplayer.unity3d.com/download_webplayer-3.x/3.0/uo/UnityObject.js"></script>
    <title>단서 찾기</title>
    <style>
        hr.divider {
            padding: 20px;
            border: none;
            border-top: 5px double gray;
            border-bottom: 5px double gray;
            color: black;
            text-align: center;
            margin-top: 0px;
            margin-bottom: 30px;
            margin-right: 350px;
            margin-left: 350px;
        }
            
        hr.divider:after {
            content: "단서 찾기";
            display: inline-block;
            position: relative;
            top: -0.1em;
            font-size: 1.75em;
            padding: 0 0.5em;
            font-weight: normal;
        }  

        .custom-btn2 {
            margin: 0px auto;
            width: 260px;
            height: 40px;
            color: #fff;
            border-radius: 10px;
            padding: 10px 25px;
            font-family: 'Lato', sans-serif;
            font-weight: bold;
            background: transparent;
            cursor: pointer;
            transition: all 0.3s ease;
            position: relative;
            display: inline-block;
            box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
            7px 7px 20px 0px rgba(0,0,0,.1),
            4px 4px 5px 0px rgba(0,0,0,.1);
            outline: none;
        }
        .btn-13 {
            background-color: #f192f0;
            background-image: linear-gradient(315deg, #f192f0 0%, #A28DCE 74%);
            border: none;
            z-index: 1;
        }
        .btn-13:after {
            position: absolute;
            content: "";
            width: 100%;
            height: 0;
            bottom: 0;
            left: 0;
            z-index: -1;
            border-radius: 5px;
            background-color: #D4f2f0;
            background-image: linear-gradient(315deg, #d4f2f0 0%, #e989cf 74%);
            box-shadow:
            -7px -7px 20px 0px #fff9,
            -4px -4px 5px 0px #fff9,
            7px 7px 20px 0px #0002,
            4px 4px 5px 0px #0001;
            transition: all 0.3s ease;
        }
            .btn-13:hover {
            color: #fff;
        }
        .btn-13:hover:after {
            top: 0;
            height: 100%;
        }
            .btn-13:active {
            top: 2px;
        }

        /*인풋박스 스타일*/
        @keyframes gradient { 
        0%{background-position:0 0}
        100%{background-position:100% 0}
        }

        input { 
            border-style: none; 
            background: transparent; 
            outline: none; 
        }

        .webflow-style-input {
            position: relative;
            display: flex;
            flex-direction: row;
            width: 100%;
            max-width: 410px;
            margin: 0;
            border-radius: 5px;
            padding: 1px 0px 1px 0px;
            background: rgba(57, 63, 84, 0.8);
            
            &:after {
                content: "";
                position: absolute;
                left: 0px;
                right: 0px;
                bottom: 0px;
                z-index: 999;
                height: 2px;
                border-bottom-left-radius: 5px;
                border-bottom-right-radius: 5px;
                background-position: 0% 0%;
                background: linear-gradient(to right, #B294FF, #57E6E6, #FEFFB8, #57E6E6, #B294FF, #57E6E6);
                background-size: 500% auto;
                animation: gradient 3s linear infinite;
            }
        }

        .webflow-style-input input {
            flex-grow: 1;
            color: #BFD2FF;
            font-size: 1rem;
            line-height: 2.4rem;
            vertical-align: middle;
            &::-webkit-input-placeholder {
                color: #7881A1;
            }
        }

        .webflow-style-input button {
            color:  #7881A1;
            font-size: 1rem;
            line-height: 2.4rem;
            vertical-align: middle;
            transition: color .25s;
            &:hover {
                color: #BFD2FF;
            }
        }

        hr {
            padding: 0;
            margin: 40px 0;
        }

        hr.hr-8 {
            border: 0;
            border-top: 2px dotted #8c8c8c;
        }
    </style>

    <script type="text/javascript">
        function stage1() {
            let answer = document.getElementById('answer').value;
            if(answer == ""){
                alert('답을 기입해 주십시오');
            }
            else if(answer == "0112"){
                alert('정답입니다');
            }
            else{
                document.getElementById('answer').value = "";
                alert('정답이 아닙니다');
            }
        }

        function stage2() {
            let answer = document.getElementById('answer2').value;
            if(answer == ""){
                alert('답을 기입해 주십시오');
            }
            else if(answer == "설인노34"){
                alert('정답입니다');
            }
            else{
                document.getElementById('answer2').value = "";
                alert('정답이 아닙니다');
            }
        }

        function stage3() {
            let answer = document.getElementById('answer3').value;
            if(answer == ""){
                alert('답을 기입해 주십시오');
            }
            else if(answer == "5359"){
                alert('정답입니다');
            }
            else{
                document.getElementById('answer3').value = "";
                alert('정답이 아닙니다');
            }
        }

        function stage4() {
            let answer = document.getElementById('answer4').value;
            if(answer == ""){
                alert('답을 기입해 주십시오');
            }
            else if(answer == "0510"){
                alert('정답입니다');
            }
            else{
                document.getElementById('answer4').value = "";
                alert('정답이 아닙니다');
            }
        }
    </script>
 

    {% endblock %}

    {% block main %}
    <br>
    <br>
    <br><br><br>
    <div class="green-bg" style="margin-bottom: 60px;">
        <hr class="divider">
    </div>

    {% csrf_token %}
    <div style="text-align: center;">
        <form action="{% url 'prensend:quizinfo_index_game' %}" method="post" 
        style="margin: auto; margin-right: 450px; margin-left: 450px;">
            <div class="stage1">
                <div style="text-align: left;">
                    <h3>STAGE1. </h3>
                    <p>게임에서 얻은 네자리 수를 적어주세요.</p> <!--0112-->
                </div>

                <span style="font-size: 2.3em;">🎁</span>
                &nbsp;
                <div class="webflow-style-input" style="display: inline-block;"> 
                    <input class="" type="text" placeholder="" id="answer"></input>
                </div>
                &nbsp;
                <input type="button" class="custom-btn2 btn-13" style="width: 100px; height: 40px;" onclick="stage1()" value="정답 확인">
            </div>
            
            <div>
                <hr class="hr-8">
            </div>
            
            <div class="stage2">
                <div style="text-align: left;">
                    <h3>STAGE2. </h3>
                    <p>
                        동물 친구들이 내는 퀴즈를 맞춰주세요.
                        <br><br>
                        연개구리: 전[ ], 고양이: 개[ ]지도, 청개구리: [ ]래, 여우: 숫자 2개 <!--설인노34-->
                    </p>
                </div>

                <span style="font-size: 2.3em;">🎁</span>
                &nbsp;
                <div class="webflow-style-input" style="display: inline-block;"> 
                    <input class="" type="text" placeholder="" id="answer2"></input>
                </div>
                &nbsp;
                <input type="button" class="custom-btn2 btn-13" style="width: 100px; height: 40px;" onclick="stage2()" value="정답 확인">
            </div>
            
            <div>
                <hr class="hr-8">
            </div>

            <div class="stage3">
                <div style="text-align: left;">
                    <h3>STAGE3. </h3>
                    <p>게임에서 얻은 네자리 수를 적어주세요.</p> <!--5359-->
                </div>

                <span style="font-size: 2.3em;">🎁</span> &nbsp;
                <div class="webflow-style-input" style="display: inline-block;"> 
                    <input class="" type="text" placeholder="" id="answer3"></input>
                </div>
                &nbsp;
                <input type="button" class="custom-btn2 btn-13" style="width: 100px; height: 40px;" onclick="stage3()" value="정답 확인">
            </div>
            
            <div>
                <hr class="hr-8">
            </div>

            <div class="stage4">
                <div style="text-align: left;">
                    <h3>STAGE4. </h3>
                    <p>게임에서 얻은 네자리 수를 적어주세요.</p> <!--0510-->
                </div>

                <span style="font-size: 2.3em;">🎁</span>
                &nbsp;
                <div class="webflow-style-input" style="display: inline-block;"> 
                    <input class="" type="text" placeholder="" id="answer4"></input>
                </div>
                &nbsp;
                <input type="button" class="custom-btn2 btn-13" style="width: 100px; height: 40px;" onclick="stage4()" value="정답 확인">
            </div>
            <br><br><br>

            <button class="custom-btn2 btn-13" style="width: 550px;" type="submit" id="g_btn">
                맞춤형 선물 보기
            </button>
        </form>
    </div>
    <br><br><br><br>
    
    {% endblock %}