{% load socialaccount %}
{% load static %}
<script>
    const navbar = () => {
        document.querySelector('#list2').classList.toggle('nav-open');
        document.querySelector('nav .nav-links').classList.toggle('fade-in');
        document.querySelector('#exit').classList.toggle('nav-open');
        document.querySelector('#list').classList.toggle('is-active');
    }
</script>

<nav id="menu">
    <div class="nav-links">
        <div style="margin-bottom: 32px;">
            <a href="/" class="link">FREN:SEND</a>
            <span id="exit" onclick="javascript:navbar()">
                <i class="fas fa-sign-out"></i>
            </span>
        </div>
        {% if user.is_authenticated %}
        <a class="link" href="{% url 'common:logout' %}">
            로그아웃
        </a>
        {% else %}
        <a class="link" href="{% url 'common:login' %}">
            로그인
        </a> 
        {% endif %}
        {% if user.is_authenticated %}
        <a href="/mypage" class="link">MyPage</a>
        <a href="/friends" class="link">Friends</a>
        <a href="/calendar" class="link">Calendar</a>
        {% endif %}
    </div>

<!--
    <ul class="link" style="list-style: none;">
        <li>
            <h3>
                <a class="link-li" href="/" style="text-decoration:none;">
                    FREN:SEND
                </a> 
                <span id="exit" onclick="javascript:navbar()">
                    <i class="fas fa-sign-out"></i>
                </span>
            </h3> 
        </li><br>
        <li>
            <h3>
                {% if user.is_authenticated %}
                <a class="link-li" href="{% url 'common:logout' %}" style="text-decoration:none;">
                    로그아웃
                </a>
                {% else %}
                <a class="link-li" href="{% url 'common:login' %}" style="text-decoration:none;">
                    로그인
                </a> 
                {% endif %}
            </h3> 
        </li><br>
        {% if user.is_authenticated %}
        <li>
            <h3>
                <a class="link-li" href="/mypage" style="text-decoration:none;">
                    마이페이지
                </a> 
            </h3> 
        </li><br>
        <li>
            <h3>
                <a class="link-li" href="/friends" style="text-decoration:none; ">
                    친구목록
                </a>
            </h3>
        </li>
        <br>
        <li>
            <h3>
                <a class="link-li" href="/calendar" style="text-decoration:none;">
                    달력확인
                </a>
            </h3> 
        </li>
        {% endif %}
    </ul>-->
</nav>
<!--
<div id="darkside"></div>

<div class="nav">
    <nav>
        <br><br>
        <ul style="list-style: none;">
            <li>
                <h3>
                    <a href="/" style="text-decoration:none;">
                        PRENSEND
                    </a> 
                    <span id="exit" onclick="javascript:navbar()">
                        <i class="fas fa-sign-out"></i>
                    </span>
                </h3> 
            </li><br>
            <li>
                <h3>
                    {% if user.is_authenticated %}
                    <a href="{% url 'common:logout' %}" style="text-decoration:none;">
                        로그아웃
                    </a>
                    {% else %}
                    <a href="{% url 'common:login' %}" style="text-decoration:none;">
                        로그인
                    </a> 
                    {% endif %}
                </h3> 
            </li><br>
            {% if user.is_authenticated %}
            <li>
                <h3>
                    <a href="/mypage" style="text-decoration:none;">
                        마이페이지
                    </a> 
                </h3> 
            </li><br>
            <li>
                <h3>
                    <a href="/friends" style="text-decoration:none; ">
                        친구목록
                    </a>
                </h3>
            </li>
            <br>
            <li>
                <h3>
                    <a href="/calendar" style="text-decoration:none;">
                        달력확인
                    </a>
                </h3> 
            </li>
            {% endif %}
        </ul>
    </nav>
</div>
-->