{% extends 'prensend/base.html' %}
{% load static %}

		{% block head_styles %}
		<!--friends,animation css-->
        <link rel="stylesheet" href="{% static 'prensend/css/friends.css' %}">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" rel="stylesheet">
        <link rel="stylesheet" href="css/animations.css">

		<title>대문페이지</title>

        <style>
			/* 나브바의 로고 CSS 추가 */
			#list { 
				display: block;
    			width:300px;
    			height:200px;
			}

            #object{
	            visibility: hidden;
            }

            .slideUp{
	            animation-name: slideUp;
	            -webkit-animation-name: slideUp;	

	        animation-duration: 1s;	
	        -webkit-animation-duration: 1s;

	        animation-timing-function: ease;	
	        -webkit-animation-timing-function: ease;

	        visibility: visible !important;			
            }

            @keyframes slideUp {
	            0% {
		            transform: translateY(100%);
	            }
	            50%{
		            transform: translateY(-8%);
	            }
	            65%{
		            transform: translateY(4%);
	            }
	            80%{
	            	transform: translateY(-4%);
	            }
	            95%{
		            transform: translateY(2%);
	            }			
	            100% {
		            transform: translateY(0%);
	            }	
            }

			@-webkit-keyframes slideUp {
				0% {
					-webkit-transform: translateY(100%);
				}
				50%{
					-webkit-transform: translateY(-8%);
				}
				65%{
					-webkit-transform: translateY(4%);
				}
				80%{
					-webkit-transform: translateY(-4%);
				}
				95%{
					-webkit-transform: translateY(2%);
				}			
				100% {
					-webkit-transform: translateY(0%);
				}	
			}
        </style>
        {% endblock %}

	{% block main %}
		<div id="object" class="slideUp" style="width: 400px; margin: auto; padding-top: 150px; padding-bottom: 150px;">
			<img src="{% static 'prensend/images/선물7.png' %}" alt="선물 아이콘" style="width: 400px;" onclick="location.href='/quiz/'">
		</div>
		
		<script>
			$('#animatedElement').click(function() {
				$(this).addClass("slideUp");
			});
		</script>
	{% endblock %}
