{% extends 'prensend/base.html' %}
{% load static %}

{% block head_styles %}
    <title>퀴즈</title>

    <link rel="stylesheet" href="{% static 'prensend/css/friends.css' %}">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" rel="stylesheet"> 

    <!--recommend.css-->
    <link rel="stylesheet" href="{% static 'prensend/css/recommend.css' %}?after">

    <style>
        /* 나브바의 로고 CSS 추가 */
		#list { 
			display: inline;
			width:300px;
    		height:200px;
		}

        select {
            width: 400px; /* 원하는 너비설정 */
            padding: .8em .5em; /* 여백으로 높이 설정 */
            font-family: inherit;
            background-color: white;
            border: 1px solid #999; 
            border-radius: 0px; /* iOS 둥근모서리 제거 */
            -webkit-appearance: none; /* 네이티브 외형 감추기 */
            -moz-appearance: none;
            appearance: none;
        }
    </style>
{% endblock %}

{% block main %}

    <div id="quiz">
        <div class="information" style="background-color: #8EC6C9; border-radius: 40px; padding: 40px; margin: auto; width: 700px;">

            <form action="{% url 'prensend:quizinfo_index' %}" method="post">
                <div>
                    <h1 style="text-align: center;">선물할 상대의 평소 취향인 물건을 선택해주세요.</h1>
                </div>
                <button onClick="window.location.reload()">
                    <img src="{% static 'prensend/images/새로고침.png' %}">
                </button>
                </br>
                {% for i in items %}
                <div class="products" style="margin: auto; display: inline-block;">
                    <input type="checkbox" id="myCheckbox" />
                    <label for="myCheckbox"><img src="{{i.image}}" /></label>
                </div>
                {% endfor %}
    
    
                <div>
                    <h1 style="text-align: center;">선물의 가격대를 선택해주세요.</h1>
                </div>


                {% csrf_token %}
                <div class="price" style="margin: auto; text-align: center; margin-top: 20px;">
                    <select name="search_mode_price" id="search_mode_price">
                        <option value="" selected>가격대</option>
                        <option value="1">1만원 이하</option>
                        <option value="12">1-2만원대</option>
                        <option value="34">3-4만원대</option>
                        <option value="5">5만원 이상</option>
                    </select>
                    <br><br><br>
                        
                    <button class="button" type="submit" id="btn" style="color:white; background-color: #448F74; border: 0px; margin-top: 40px; margin: auto;">
                        추천 선물 보기
                    </button>
                </div>
            </form>

        </div>
    </div>
{% endblock %}
