<!DOCTYPE html>
{% load static %}
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>퀴즈</title>
    <link rel="stylesheet" href="{% static 'prensend/css/friends.css' %}">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" rel="stylesheet"> 
</head>
<body>
    <script src="https://kit.fontawesome.com/cbcad42a26.js" crossorigin="anonymous"></script>
    {% include 'prensend/navbar.html' %}

    <div class="information" style="background-color: #8EC6C9; border-radius: 40px; padding: 40px; margin: auto; width: 700px;">
        <div>
            <h1 style="text-align: center;">선물의 간단한 정보를 입력해주세요.</h1>
        </div>
        <div class="sex" style="margin: auto; text-align: center; margin-top: 20px;">
            <select>
                <option selected>성별</option>
                <option>남</option>
                <option>여</option>
            </select>
        </div>
        <div class="age" style="margin: auto; text-align: center; margin-top: 20px;">
            <select>
                <option selected>연령대</option>
                <option>10대 이하</option>
                <option>20대</option>
                <option>30대</option>
                <option>40대</option>
                <option>50대</option>
                <option>60대 이상</option>
            </select>
        </div>
        <div class="anniversary" style="margin: auto; text-align: center; margin-top: 20px;">
            <select>
                <option selected>기념일</option>
                <option>생일</option>
                <option>크리스마스</option>
                <option>연인</option>
                <option>졸업식</option>
                <option>명절</option>
                <option>기타</option>
            </select>
        </div>
        <div class="price" style="margin: auto; text-align: center; margin-top: 20px;">
            <select>
                <option selected>가격대</option>
                <option>1만원 이하</option>
                <option>2-3만원</option>
                <option>4-5만원</option>
                <option>5만원 이상</option>
            </select>
            <br><br><br>
            <button class="button" type="button" style="background-color: #448F74; border: 0px; margin-top: 40px; margin: auto;">
                추천 선물 보기
                <i class="fa-regular fa-arrow-right"></i>
            </button>
        </div>

    </div>


</body>
</html>