{% extends 'prensend/base.html' %}
{% load static %}

    {% block head_styles %}
    <title>결과페이지</title>

    <!--recommend css-->
    <link rel="stylesheet" href="{% static 'prensend/css/recommend.css' %}?after">
    {% endblock %}
   	
    {% block main %}
    <div class="t1">추천 선물 결과입니다.</div>
    <div class="box">
        {% for f in items %}
        <div class="rec_box">
            <div class="rec_image">
                <!--가져온 이미지 링크 src 속성으로 넣으면 이미지 보임-->
                <img class="image" src="{{f.image}}" alt="{{f.title}} 이미지">
            </div>
            <div class="rec_title">
                <p class="title">{{f.title}} / {{items.0.1.}} / {{items.0.}} </p>
            </div>
            <div class="rec_price">
                <p class="price">{{f.price}} 원</p>
            </div>
            <div class="rec_button">
                <button class="button" type="button" onclick="location.href='{{f.link}}'">
                    상품 보러가기
                </button>
            </div>
        </div>
        {% endfor %}
    </div>
    {% endblock %}
