body {
    background-color: #CAE9E0;
}
.t1 {
    font-size: 50px;
    text-align: center;
    margin-bottom: 70px;
}

.friend_box {
    display: flex;
    align-items: center;
    margin: 30px auto;
    background-color: white;
    width: 1100px;
    height: 80px;
    border-radius: 30px;
    padding: 20px;
}

.friend_image {
    margin-left: 30px;
    display: inline-block;
    width: 80px;
    height: 80px;
    border-radius: 50px;
    overflow: hidden;
}
.friend_name {
    display: inline-block;
}
.friend_button {
    display: inline-block;
}


.image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.name {
    margin-left: 30px;
    font-size: 30px;
}
.button {
    margin-left: 500px;
    border-radius: 20px;
    background-color: rgb(30, 30, 58);
    color: white;
    font-size: 28px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
}


label::before {
    background-image: url("https://shop-phinf.pstatic.net/20220813_174/1660379707421lM6yB_JPEG/61515541194734625_1063071535.JPG?type=f200");
}
:checked + label::before {
    background-image: url("https://shop-phinf.pstatic.net/20230316_86/16789268908801PMOD_JPEG/80062724675485844_588468619.jpg?type=f200");
}