body {
    background-color: #CAE9E0;
}
.t1 {
    font-size: 50px;
    text-align: center;
    margin-bottom: 70px;
}



.friend_box {
    display: flex;
    align-items: center;
    margin: 30px auto;
    background-color: white;
    width: 900px;
    height: 70px;
    border-radius: 30px;
    padding: 20px;
}

.friend_image {
    margin-left: 30px;
    display: inline-block;
    width: 60px;
    height: 60px;
    border-radius: 50px;
    overflow: hidden;
}
.friend_name {
    display: inline-block;
}
.friend_button {
    display: inline-block;
}


.image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.name {
    margin-left: 30px;
    font-size: 25px;
}
.button {
    margin-left: 500px;
    border-radius: 20px;
    background-color: rgb(30, 30, 58);
    color: white;
    font-size: 20px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
}


label img {
    height: 80px;
    width: 80px;
    transition-duration: 0.2s;
    transform-origin: 50% 50%;
}
