/* navbar 넣을 때, css, js 파일도 같이 작성, footer도 마찬가지로 */

#nav{
    display:none;
    position:absolute;
    background-color: #aadccd;
    width:30%;
    height:100%;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    font-size: 20px;
}

#exit {
    padding-left: 100px;
    font-size: 25px;
}