{% extends 'prensend/base.html' %}
{% load socialaccount %}
{% load static %}

    {% block head_styles %}
        <title>Mypage</title>
        <link rel="stylesheet" href="{% static 'prensend/css/mypage.css' %}">
    {% endblock %}    

    {% block main %}
		<!--로그인-->
		<div style="margin: 30px auto; color: #636260; border: 3px solid; border-radius: 30px; width: 500px; padding: 40px; background: white;">
			<!--헤더-->
			<div>
				<div style="font-size: 40px; ">
					Log In
				</div>
			</div>
			<div style="margin-top: 30px;">
				<form method="post" class="post-from" action="{% url 'common:login' %}">
					{% csrf_token %}
					{% include "form_errors.html" %}
	
					
					<div style="font-size: 20px;">
						<label for="username">ID</label>
						<br>
						<input type="text" class="form-control" name="username" id="username" value="{{ form.username.value|default_if_none:'' }}"
						style="height: 30px; width: 495px; margin-top: 5px; border-radius: 5px;">
					</div>
					<div style="font-size: 20px; margin-top: 10px;">
						<label for="password">PASSWORD</label>
						<br>
						<input type="password" class="form-control" name="password" id="password" value="{{ form.password.value|default_if_none:'' }}"
						style="height: 30px; width: 495px; margin-top: 5px; border-radius: 5px;">
					</div>
					<button type="submit"
					style="
					height: 40px;
					margin-top: 30px;
					margin-left: 150px;
					border-radius: 10px;
					border: 3px solid #199172;
					background-color: white;
					color: #199172;
					font-weight: bold;
					font-size: 20px;
					padding-left: 67px;
					padding-right: 67px;
					padding-top: 5px;
					padding-bottom: 5px;">
					로그인</button>
				</form>
			</div>
			<div class="box_signup" style="margin-top: 10px;">
				<span>
					<button type="button" onclick="location.href='{% provider_login_url 'google' %}'"
					style="width: 200px;
					height: 40px;
					margin-top: 15px;
					margin-left: 150px;
					border-radius: 10px;
					border: 3px solid #199172;
					background-color: white;
					color: #199172;
					font-weight: bold;
					font-size: 20px;
					padding-left: 15px;
					padding-right: 15px;
					padding-top: 5px;
					padding-bottom: 5px;">
					Google 로그인</button>
				</span>
			</div>
			<div class="box_signup" style="margin-top: 10px;">
				<span>
					<button type="button" onclick="location.href='/accounts/signup/'"
					style="
					height: 40px;
					margin-top: 15px;
					margin-left: 150px;
					border-radius: 10px;
					border: 3px solid #199172;
					background-color: white;
					color: #199172;
					font-weight: bold;
					font-size: 20px;
					padding-left: 58px;
					padding-right: 58px;
					padding-top: 5px;
					padding-bottom: 5px;">
					회원가입</button>
				</span>
			</div>
			<!--
			<div class="box_signup" style="margin-top: 10px;">
				<span>
					<button type="button" onclick="location.href='{%url 'common:signup' %}'"
					style="
					height: 40px;
					margin-top: 15px;
					margin-left: 150px;
					border-radius: 10px;
					border: 3px solid #199172;
					background-color: white;
					color: #199172;
					font-weight: bold;
					font-size: 20px;
					padding-left: 54px;
					padding-right: 54px;
					padding-top: 5px;
					padding-bottom: 5px;">
					회원가입2</button>
				</span>
			</div>
			-->
		</div>
	</div>
    {% endblock %}